# Duplicate to .env, cp env.sample .env

# The domain to protect
DOMAIN_NAME=test.com

# Email to register with CertBot
CERTBOT_EMAIL=contact@example.com

# Server IP address serving content on port 80 you wish to protect
ORIGIN_HOST=255.255.255.255